.container {
    padding: 8rem 3rem 0 3rem;

    @media screen and (max-width: 600px) {
        padding: 1rem 0rem 0 0rem;
    }
}

.about {
    display: flex;
    flex-direction: column;
    padding: 2rem 0rem 0 0rem;

    .about_feature {
        padding: 0 5rem;
        background-color: var(--blauwpaars-color);
        padding: 0 1rem;
        width: 40rem;
        margin: auto;
        color: var(--white-color);

        h1 {
            text-align: center;
            padding: 2rem;
        }

        .about_feature_content {
            .content1 {
                height: 7rem;
            }

            .content2 {
                height: 7rem;
                text-align: center;
            }

            .content3 {
                height: 7rem;
                text-align: end;
            }
        }

        .feature_button {
            display: flex;
            justify-content: center;
            padding: 3rem 0;
        }
    }

    .about_lower {
        background-color: var(--donkerpaars-color);
        color: var(--white-color);
        padding: 0 5rem;

        @media screen and (max-width: 750px) {
            padding: 0;
        }

        div {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            .about_lower_image {
                width: 50%;
                padding: 1rem;

                .image1 {
                    height: 7rem;
                    display: flex;
                    justify-content: center;

                    .smallimage {
                        width: 8rem;
                    }
                }

                .image2 {
                    height: 7rem;
                    display: flex;
                    justify-content: center;


                    .smallimage {
                        width: 8rem;
                    }
                }

                .image3 {
                    height: 7rem;
                    display: flex;
                    justify-content: center;

                    .smallimage {
                        width: 8rem;
                    }
                }

                @media screen and (max-width: 670px) {
                    padding: 2rem 0;
                    width: 100%;
                    flex-direction: column;
                }

            }

            .about_lower_content {
                width: 50%;
                padding: 3rem 2rem;


                h2 {
                    text-align: center;
                    font-size: xx-large;

                }

                p {
                    text-align: center;
                    font-size: x-large;


                }

                @media screen and (max-width: 750px) {
                    padding: 2rem 0.5rem;
                    width: 100%;
                }
            }

            @media screen and (max-width: 750px) {
                padding: 0;
            }
        }


    }

    @media screen and (max-width: 750px) {
        padding: 0;

    }
}