.about {
    display: flex;
    flex-direction: column;
    padding: 2rem 5rem 0 5rem;

    .about_feature {
        background-color: white;
        padding: 0 1rem;

        h1 {
            text-align: center;
        }

        .about_feature_content {
            .content1 {
                height: 7rem;
            }

            .content2 {
                height: 7rem;
                text-align: center;
            }

            .content3 {
                height: 7rem;
                text-align: end;
            }
        }

        .feature_button {
            display: flex;
            justify-content: center;
            padding: 3rem 0;
        }
    }

    .about_lower {
        display: flex;
        background-color: rgba(235, 235, 235, 0.94);
        flex-wrap: wrap;

        .about_lower_image {
            width: 50%;
            padding: 2rem;

            .image1 {
                height: 7rem;
                display: flex;
                justify-content: flex-end;

                .smallimage {
                    width: 8rem;
                }
            }

            .image2 {
                height: 7rem;
                display: flex;
                justify-content: center;


                .smallimage {
                    width: 8rem;
                }
            }

            .image3 {
                height: 7rem;
                display: flex;

                .smallimage {
                    width: 8rem;
                }
            }

            @media screen and (max-width: 670px) {
                padding: 2rem 0;
            }

        }

        .about_lower_content {
            width: 50%;
            padding: 3rem 2rem;


            h2 {
                text-align: center;
                font-size: xx-large;

            }

            p {
                text-align: center;
                font-size: x-large;


            }

            @media screen and (max-width: 670px) {
                padding: 2rem 0.5rem;
            }
        }
    }

    @media screen and (max-width: 670px) {
        padding: 2rem 0 0 0;
    }
}