@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.container {
    padding: 8rem 3rem 0 3rem;


    @media screen and (max-width: 600px) {
        padding: 1rem 0rem 0 0rem;
    }
}

.homesection {
    display: flex;
    justify-content: center;
    flex-direction: column;
    // background-color: var(--donkerpaars-color);
    background: linear-gradient(185deg, var(--donkerpaars-color) 40%, var(--blauwpaars-color) 40%);
}

.home {
    padding: 1rem;
    width: 40rem;
    margin: auto;
    display: flex;
    flex-wrap: wrap;

    .home_image {
        padding: 1rem;
        width: 30%;
    }

    .home_content {
        width: 70%;
        padding: 1rem;
        color: var(--white-color);



        @media screen and (max-width: 600px) {
            padding: 0;
        }

    }

    .home_button {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: right;


        @media screen and (max-width: 1200px) {
            // margin-top: 10rem;
        }

        @media screen and (max-width: 1100px) {
            margin-top: 4rem;
        }
    }

    @media screen and (max-width: 900px) {
        flex-direction: column;

        .home_image {
            width: 100%;
            padding: 1rem;
        }

        .home_content {
            width: 100%;
            padding: 1rem;
        }

    }

    @media screen and (max-width: 670px) {
        padding: 2rem 0;
    }
}



.home_lower {
    // display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
    margin-top: 10rem;
    color: var(--white-color);


    div {
        width: 60rem;
        margin: auto;

        h1 {
            font-weight: lighter;
            width: 100%;
            text-align: center;
            color: var(--white-color);

            span {
                font-weight: 2000;
                color: var(--white-color);
            }
        }

        .home_lower_content {
            display: flex;
            justify-content: space-around;


            div {
                padding: 1rem;
                width: 33%;
                cursor: pointer;
                justify-content: center;

                &:hover {
                    box-shadow: 0px 4px 35px rgba(103, 105, 108, 0.19);
                }
            }

            @media screen and (max-width: 600px) {
                flex-direction: column;
                align-items: center;

                div {
                    padding: 1rem;
                    width: 80%;
                    justify-content: center;
                }
            }
        }
    }

    @media screen and (max-width: 670px) {
        padding: 1rem 0 0 0;
    }
}

.badge {
    background-color: var(--donkerpaars-color);
    height: 15rem;
    padding: 0 8rem;
    text-transform: uppercase;



    @media screen and (max-width: 600px) {
        padding: 0;

        h1 {
            padding: 0;
        }
    }

    h1 {
        color: var(--white-color);
        text-align: center;
        padding: 3rem 0;

    }

    @media screen and (max-width: 670px) {
        padding: 2rem 0 0 0;
    }
}